<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Development</h2>
                <hr class="light">
                <p class="text-faded">Enable your company to benefit from the expertise of McKinley IT. With 15+ years experience across a range of industries McKinley IT can <b>design, implement and deliver</b> your next project.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact McKinley IT</a>
            </div>
        </div>
    </div>
</section>
